@charset "utf-8";
/* CSS Document */
	.header-fixed {
	background-color:#0C1433;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font-family: 'Bungee';font-size: 22px;
	line-height: 40px;
	margin: 0;
}


.header-fixed .header-limiter h1 span {
	color: #B3455B;
}

.header-fixed .header-limiter h1 span2 {
	color: #6CDE80;
}





/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
	color: #B5455B;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */


/* Banner */
.banner {
margin-bottom: 15px;
position: relative;
bottom: 26px;
z-index: 1;
}

/* Each product section (3 sections) */

.header {
	font-size: 40px;
}

section {
	padding: 70px;
	
}

	.collapsible {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	}	
		
	.header {
	font-size: 30px;
	}

	p 	{
	font-size: 18px;
	}

@media only screen and (max-width: 1000px) {
  p {
    margin: 40px;
  }
}

	.collapsible .content {
  	display: none;
  	overflow: hidden;
  	transition: height 0.3s ease-out;
  	max-width: 800px;
  	margin: 0 auto;
	}


	.collapsible.active .content {
	display: block;
	transition: height 0.3s ease-in;
	}

	.collapsible .arrow {
    display: inline-block;
    transition: transform 0.3s ease-out;
    font-size: 25px; /* Adjust the value as per your preference */
   cursor: pointer;
   }


	.collapsible.active .arrow {
	transform: rotate(180deg);
	transition: transform 0.3s ease-in;
	}

.collapsible-arrow {
	padding-bottom: 12px;
	padding-left: 3px;
}

.container {
  text-align: center;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product {
	width: 300px;
}

.product-image {
	
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.add-to-cart {
	background-color: #B5455B;
	border-radius: 20px;
	color: white;
	border:none;
	padding: 8px 15px;
	margin: 5px;
}

.notification {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  display: block;
}

.notification.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.product-name {
	padding-top: 20px
}

.small-product-name {
	font-size: 15px;
}


@media only screen and (max-width: 1500px) {
  .product {
    padding-top: 40px;
  }
}





/* Section 4 More equipment */
.more-equipment-header {
	text-align: center;	
	padding-top: 70px;
}

.more-equipment-name {
	margin-top: 40px;
	font-size: 25px;
}

.more-equipment-image {
	transition: transform 1s ease;
}

.more-equipment-image:hover {
	transform: scale(1.08);
}


/* Footer */



.site-footer
{
  background-color:#0C1433;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff;
}
.site-footer a:hover
{
  color:#B5455B;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#B5455B;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#B5455B;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons a.linkedin:hover
{
  background-color:#B5455B
}
.social-icons a.dribbble:hover
{
  background-color:#B5455B
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
