@charset "utf-8";
/* CSS Document */
	.header-fixed {
	background-color:white;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
	float: left;
	font-family: 'Bungee';font-size: 22px;
	line-height: 40px;
	margin: 0;
}


.header-fixed .header-limiter h1 span {
	color: #B3455B;
}

.header-fixed .header-limiter h1 span2 {
	color: #6CDE80;
}





/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: black;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
	color: #B5455B;
}

.header-fixed .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

/*
	 We are clearing the body's margin and padding, so that the header fits properly.
	 We are also adding a height to demonstrate the scrolling behavior. You can remove
	 these styles.
 */




.banner {
	
	padding-bottom: 100px;
}



.headersh1 {
	color: black;
}

.line-header {
		border-bottom: 1px solid;
	padding-bottom: 10px; 
	display: none;
}


/* Section 1 Activities */
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3.5vw;
	color: #B3455B;	
}

.activities-text {
	font-size: 19px;
	padding-bottom: 50px;
}

section {
	text-align: center;
	padding-bottom: 100px;
	padding-top: 100px;
	
}

.activities {
	transition: transform 1s ease;
}

.activities:hover {
	transform: scale(1.06);
}


@media only screen and (max-width: 800px) {
  .activities {
    width: 40%;
  }
}

/* Section 2 Equipment */
.header2 {
	text-align: center;
	color: black;
	
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  text-align: center;
  margin: 10px;
  position: relative;
}

.test-shine {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.test-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */
.test-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.test-shine:active:after {
  opacity: 0;
}

.image-container h1,
.image-container p {
  margin: 0;
}

@media only screen and (max-width: 800px) {
	.equipment {
		width: 350px
	}
}

.equipment-titles {
	font-size: 20px;
	color:black;
}

/* Section 3 Group Training */
.group-training {
	margin-top: 100px;
	margin-bottom: 20px;
	transition: transform 1s ease;
	border-radius: 20px;
}

.group-training:hover {
	transform: scale(1.015);
}

.container-group-training {
  display: flex;
  justify-content: center;
}

.group-training-text {
  white-space: pre-wrap;
  max-width: 800px;
	text-align: center;
	font-size: 19px;
}



/* Footer */




.line-footer {
	border-bottom: 1px solid;
	margin-bottom: 20px
	
}

.site-footer
{
  background-color:white;
  padding: 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
padding-bottom: 50px
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:black;
}
.site-footer a:hover
{
  color:#B5455B;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#B5455B;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:lightgrey;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#B5455B;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons a.linkedin:hover
{
  background-color:#B5455B
}
.social-icons a.dribbble:hover
{
  background-color:#B5455B
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}